<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysMenu">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="componentName" column="component_name" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="permType" column="perm_type" jdbcType="VARCHAR"/>
            <result property="sortNo" column="sort_no" jdbcType="INTEGER"/>
            <result property="alwaysShow" column="always_show" jdbcType="TINYINT"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="isLeaf" column="is_leaf" jdbcType="TINYINT"/>
            <result property="keepAlive" column="keep_alive" jdbcType="TINYINT"/>
            <result property="hidden" column="hidden" jdbcType="INTEGER"/>
            <result property="hiddenTab" column="hidden_tab" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="internalOrExternal" column="internal_or_external" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        url,component,component_name,
        redirect,menu_type,perms,
        perm_type,sort_no,always_show,
        icon,is_leaf,keep_alive,
        hidden,hidden_tab,description,
        create_by,create_time,update_by,
        update_time,del_flag,status,
        internal_or_external
    </sql>
</mapper>
